! Configuration IS-IS Daemon (Quagga)
! Configuration minimale - à compléter selon vos besoins

hostname isisd
password isisd
enable password isisd
log file /var/log/quagga/isisd.log

! Exemple de configuration IS-IS (à décommenter et adapter):
! router isis
!   net 49.0001.0000.0000.0001.00
!   is-type level-1-2
